$def with (content)

<html lang="en">
<head>
    <title>All the things</title>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Password Hasher</title>
$if content.cssfiles:
	$for f in content.cssfiles.split():

    	<!-- Bootstrap core CSS -->
    	<link href="$f" rel="stylesheet">


</head>
<body>

$:content
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./static/dist/js/bootstrap.min.js"></script>
</body>
</html>
