$var cssfiles: ./static/dist/css/bootstrap.min.css ./static/dist/css/signin.css
   <div class="container">

      <form class="form-signin" action="/" method="POST">
        <h2 class="form-signin-heading">Please Create a Password</h2>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="passw" class="form-control" placeholder="Password" required autofocus>
        <label for="inputPasswordCheck" class="sr-only">Password (again)</label>
        <input type="password" name="passwcheck" class="form-control" placeholder="Password (again)" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->
